.input1
{
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:1.2;
    color:white;
    display:block;
    width:399px;
    background:#333;
    height: 50px;
    border-radius: 4px;
    padding: 0 0px 0 8px;
}
.ip{margin: 1em 33%;}
.ip1{ margin-left: 33%;}
.ip2{ color: antiquewhite; margin: 0em 45%;}
.sub{
    margin: 4em 33%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  
    margin-top:42px;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    background-color:#E50914;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
