/* You can add global styles to this file, and also import other style files */
.main {
    /* color: white;
    background-color: blue; */
    display: none;
  
  }
  
  .change {
    /* color: Red;
    background-color: white; */
    display: block;
  }